$countCol: 12;
$widthCol: 60px;
$widthGutter: 20px;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;

$xs: 540px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$gridBreakpoints: (
  'xs': (max-width: $xs),
  'sm': (min-width: $sm),
  'md': (min-width: $md),
  'lg': (min-width: $lg),
  'xl': (min-width: $xl)
);

$containers: (
  'xs': 100%,
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px
);

$gridGap: 20px;